/* Link atrebutes, change color of links */

a:link{
    color: white;
}

a:visited{
    color: white;
}

a:hover{ 
    color: white;
}

*{
    font-family: 'Roboto', sans-serif;
}

body{
    background: #111;
    width: 850px;
    margin: 0 auto;
    display: block;
    color: white;
}

#canvas{
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
    display: block;
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;
    cursor: pointer;
}


#links{
    display: block;
    position: relative;
    margin-top: 10px;
}

#selection{
    color: black;
    width: 120px;
}